{% extends 'backoffice/index.html' %}

{% block body %}
<div class="container p-3 my-3 bg-light">
    <div class="row">

        <div class="col">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend mr-2">
                        <i class="bi bi-hourglass-split" style="font-size: 2rem; color: cornflowerblue;"></i>
                    </div>
                    <div class="col-6">
                        <input type="text" value="25" class="form-control mt-2" id="iter_input" placeholder="numero de iteraciones">
                    </div>
                </div>
            </div>
        
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend mr-2">
                        <i class="bi bi-eraser-fill" style="font-size: 2rem; color: cornflowerblue;"></i>
                    </div>
                    <div class="col-6">
                        <input type="text" value="0.1" class="form-control mt-2" id="evaporation_rate" placeholder="velocidad de evaporación de feromonas">
                    </div>
                </div>
            </div>
        
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="debug">
                <label class="custom-control-label" for="debug">Debug</label>
            </div>        
        </div>

        <div class="col">
            <form action="{{ url_for('backoffice.delete_all_trips') }}" method="POST">
                <button id="delete_all_trips" type="submit" class="btn btn-outline-danger float-right">Borrar todos los viajes</button>
            </form>
        </div>
    </div>

</div>

<div class="container p-3 my-3 bg-light">

    <div id="info-message" class="alert alert-info mb-2" role="alert" style="display: none;">
    </div>

    <div id="error-message" class="alert alert-danger" role="alert" style="display: none;">
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-3">
            <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend mr-2">
                    <i class="bi bi-geo" style="font-size: 2rem; color: cornflowerblue;"></i>
                  </div>
                  <input type="text" value="" class="form-control mt-2" id="node_from" placeholder="Origen">
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend mr-2">
                    <i class="bi bi-geo" style="font-size: 2rem; color: cornflowerblue;"></i>
                  </div>
                  <input type="text" value="" class="form-control mt-2" id="node_to" placeholder="Destino">
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <p id="iter">Iteracion: 0</p>

        <button id="search" class="btn btn-outline-primary">Buscar</button>

        <button id="search-in-progess" class="btn btn-outline-primary" type="button" style="display: none;" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only">Loading...</span>
        </button>
    </div>

    <div id="container" class="mb-2"></div>
</div>
{% endblock %}


{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

<script>
    var networkgraph_data = {{ data|tojson }};
    var trips = {{ trips|tojson }};
</script>

<script>
    const socket = io()

    socket.on('avanzar_hormiga', function(link) {
        var networkgraph_link = chart.series[0]['data'].filter(function(d) {
            return d['from'] == link['from'] && d['to'] == link['to'];
        })[0];
        networkgraph_link.update({'color': 'yellow'});
    });

    socket.on('actualizar_feromona', function(link) {
        var networkgraph_link = chart.series[0]['data'].filter(function(d) {
            return d['from'] == link['from'] && d['to'] == link['to'];
        })[0];
        networkgraph_link.update({'feromone': link['feromone']});
    });

    socket.on('hormiga_finish', function(iter_num) {
        //reset colors
        chart.series[0].data.forEach(function(link) {
            if (link.color == 'yellow') {
                link.update({'color': 'red'});                
            }
        });

        $('#iter').text("Iteracion: " + iter_num)
    });

    socket.on('inc_iter', function(iter_num) {
        $('#iter').text("Iteracion: " + iter_num)
    });

    socket.on('search_trip_finish', function(data) {
        if ("error" in data) {
            $("#error-message").html(data["error"]);
            $("#error-message").show();

            $("#search-in-progess").hide();
            $("#search").show();
            return;
        };

        var best_trip = data["best_trip"];
        if (best_trip.length == 0) {
            $("#info-message").html("En este momento no hay viajes que coincidan con tu busqueda.");
            $("#info-message").show();

            $("#search-in-progess").hide();
            $("#search").show();
            return;
        };

        let length = best_trip.length;
        // update best trip in graph
        for (let i = 0; i < length-1; i++) {
            var networkgraph_link = chart.series[0]['data'].filter(function(d) {
                return d['from'] == best_trip[i] && d['to'] == best_trip[i+1];
            })[0];
            networkgraph_link.update({'color': 'yellow'});
        }

        $("#search-in-progess").hide();
        $("#search").show();
    });
</script>

<script>
    $("#search").click(function() {
        $("#info-message").hide();
        $("#error-message").hide();
        $("#search").hide();
        $("#search-in-progess").show();
        //reset feromone
        trips.forEach(function(trip) {
            var networkgraph_link = chart.series[0]['data'].filter(function(d) {
                return d['from'] == trip['from'] && d['to'] == trip['to'];
            })[0];
            networkgraph_link.update({'feromone': '1', 'color': 'red'});
        });


        var iter_input = $("#iter_input").val();
        var debug = $("#debug").is(":checked");
        var evaporation_rate = $("#evaporation_rate").val();

        var node_from = $("#node_from").val();
        var node_to = $("#node_to").val();

        $.post("/backoffice/trip/search/configs", 
        {
            "iter_input": iter_input,
            "evaporation_rate": evaporation_rate
        },
        function(data) {
            socket.emit("search_trip", 
            {
                "iter_input": iter_input,
                "debug": debug,
                "evaporation_rate": evaporation_rate,
                "from": node_from,
                "to": node_to
            }
            );
        });

    });
</script>

<script>
    var chart = Highcharts.chart('container', {
    chart: {
        type: 'networkgraph'
    },
    title: {
        text: ''
    },
    series: [{
        dataLabels: {
            enabled: true,
            linkFormat: '{point.feromone}'
        },
        link: {
            width: 2
        },
        marker: {
            radius: 15
        },
        layoutAlgorithm: {
            maxIterations: 1,
            initialPositions: function() {
                this.nodes.forEach((node, i) => {
                    if (node.id == 'A') {
                        node.plotX = 100;
                        node.plotY = 100;
                    }
                    if (node.id == 'B') {
                        node.plotX = 200;
                        node.plotY = 100;
                    }
                    if (node.id == 'C') {
                        node.plotX = 300;
                        node.plotY = 100;
                    }
                    if (node.id == 'D') {
                        node.plotX = 400;
                        node.plotY = 100;
                    }
                    if (node.id == 'E') {
                        node.plotX = 100;
                        node.plotY = 200;
                    }
                    if (node.id == 'F') {
                        node.plotX = 200;
                        node.plotY = 200;
                    }
                    if (node.id == 'G') {
                        node.plotX = 300;
                        node.plotY = 200;
                    }
                    if (node.id == 'H') {
                        node.plotX = 400;
                        node.plotY = 200;
                    }
                    if (node.id == 'I') {
                        node.plotX = 100;
                        node.plotY = 300;
                    }
                    if (node.id == 'J') {
                        node.plotX = 200;
                        node.plotY = 300;
                    }
                    if (node.id == 'K') {
                        node.plotX = 300;
                        node.plotY = 300;
                    }
                    if (node.id == 'L') {
                        node.plotX = 400;
                        node.plotY = 300;
                    }
                    if (node.id == 'M') {
                        node.plotX = 100;
                        node.plotY = 400;
                    }
                    if (node.id == 'N') {
                        node.plotX = 200;
                        node.plotY = 400;
                    }
                    if (node.id == 'O') {
                        node.plotX = 300;
                        node.plotY = 400;
                    }
                    if (node.id == 'P') {
                        node.plotX = 400;
                        node.plotY = 400;
                    }
                });
            }
        },
        data: networkgraph_data
    }]
});

// draw trips
trips.forEach(function(trip) {
    var networkgraph_link = chart.series[0]['data'].filter(function(d) {
        return d['from'] == trip['from'] && d['to'] == trip['to'];
    })[0];
    networkgraph_link.update({'color': 'red'});
});
</script>
{% endblock %}
